<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Silk - Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/silk.css">
    </head>

    <body>
        <div class="column">
            <div class="navigation">
                <a href="./about.html">About</a>
            </div>
        </div>
        <div class="column" style="padding-left: 40px; padding-top: 40px">
            {{ content }}
        </div>
    </body>

</html>
